[user]
    name = Shini31
    email = github@capitoul.net
[color]
    ui = true
    interactive = auto
[alias]
    cm = commit -m
    co = checkout
    st = status
    br = branch
    lg = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s - %C(green)(%ar)%Creset, %C(magenta)<%an>%Creset'
    lgs = log --pretty=oneline --abbrev-commit --graph --decorate
    di = diff --color-words
    info = remote -v
[core]
    editor = vim
[diff]
    tool = vimdiff
[push]
    default = simple
[pull]
    rebase = preserve
